body{
	background-color:#aaaaaa;
	text-align: center;
	font-size: 5vh;
	touch-action: manipulation;/*supprime double touche pour zoomer*/
}

h1{
	font-size: 20px; 
	color: #505050;
	padding: 0px;
	margin: 0px;
}

a{
  color: #eeeeee;
}

.cadre {
 width:95vw; /* modification */
 text-align: center;
 background-color: #505050;
 justify-content: center;/*centrage dans la boite*/
 display: grid;
 margin: 0 auto; /* centrage de la boite */ 
 grid-template-columns: repeat(5,17vw);
 grid-gap: 1vh;
 grid-auto-rows: minmax(10px, auto);/* hauteur des lignes*/
 border: 2px solid #ffffff;
 border-radius: 10px; 
}

/*.   zone des affichages.   */

.a{ 
  /* caracteristiques communes aux affichages */
  background-color: rgb(255,255,240);
  padding-right: 10px;
  text-align: right; 
  border: 1px solid rgb(0,0,0);
  border-radius: 5px;
}

.amode{
  /* format de la ligne d'affichage des modes.  */
  text-align: center; 
  background-color: rgb(70,70,70);
  color: #63FF33; /* vert */
  font-size: 2.5vh;
  vertical-align:middle;
  line-height: 3vh; /* pour que vertical-align fonctionne */
  
}

.aregistre{
  /* format d'une ligne de registre  */
  white-space: pre-line; /* /n retour a la ligne */
  text-align: right; /*remplace valeur de la class*/
  line-height: 5vh;
  vertical-align:middle;
  padding-top: 0px;
  padding-left: 10px;/*remplace valeur de la class*/
  padding-right: 10px;/*remplace valeur de la class*/
  margin-top:0px;
  font-size: 3vh; 
  background-color: transparent;
}

.e{
  /* format du nom des registres  */
  white-space: pre-line; /* /n retour a la ligne */
  text-align: left; /*remplace valeur de la class*/
  padding-top: 0px;
  padding-left: 5px;/*remplace valeur de la class*/
  padding-right: 0px;/*remplace valeur de la class*/
  margin-top:5px;
  color: rgb(0,0,0);
  background-color:transparent;/*remplace valeur de la class*/
  line-height: 3vh;
  font-size: 2.5vh;
  font-family: "Courier New", Courier, monospace; // pour alignement caracteres  
}


/* ---------------------------- */
/*.  affichage pile et mémoire  */
/* ---------------------------- */

#areg {
  /*. cadre affichage valeurs pile et mem.   */
  grid-column: 1/6;
  grid-row: 1/5;
  margin-top:5px;
  background-color: rgb(255,255,210);
}

#amem {
  /*. affichage valeurs mem.   */
  grid-column: 1/6;
  grid-row: 1;
  padding-top: 2vh;
}

#az {
  /*. affichage valeurs mem.   */
  grid-column: 1/6;
  grid-row: 2;
}

#ay {
  /*. affichage valeurs mem.   */
  grid-column: 1/6;
  grid-row: 3;
}
#ax {
  /*. affichage valeurs mem.   */
  grid-column: 1/6;
  grid-row: 4;
}

#emem{
  /*.  affichage du nom de registre m  */
  grid-column: 1;
  grid-row:1;
  padding-top: 2vh;
}
#ez{
  /*.  affichage du nom de registres z */
  grid-column: 1;
  grid-row:2;
}
#ey{
  /*.  affichage du nom de registres y*/
  grid-column: 1;
  grid-row:3;
}
#ex{
  /*.  affichage du nom de registres x */
  grid-column: 1;
  grid-row:4;
}

/* -------------------------- */
/*.  formatage des boutons.   */
/* -------------------------- */

button{
  /* concerne tous les boutons*/
  font-size: 2.5vh;  /* min 16px pour eviter zoom auto sur IPhone*/
  font-weight: bold;
  justify-content: center;
  height: 6.5vh;  /* initial 45px*/
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 0px;
}
.bgris{
  /*concerne les boutons gris*/
  background: linear-gradient(to bottom,#999999, #666666);
  color: white;
}
.bbleu{
  /*concerne les boutons bleus*/
  background: linear-gradient(to bottom,#e6f0ff, #4d94ff);
  color: black;
}
.bblanc{
  /*concerne les boutons blancs*/
  background: linear-gradient(to bottom,#ffffff, #999999);
  color: black;
}
.bjaune{
  /*concerne les boutons jaunes*/
  background: linear-gradient(to bottom,#ffff66, #ffff00);
  color: black;
}
.flag{ 
  /* concerne partie basse d'un bouton */
  font-size: 2vh;
  color:yellow;
}



/* ---------------------------------------- */
/*.  positions des affichages et  boutons   */
/* ---------------------------------------- */

/*     affichage  des modes.     */
#adegrad {grid-column: 2;grid-row: 5;}
#afixsci {grid-column: 3;grid-row: 5;}
#adplusmoins {grid-column: 4;grid-row: 5;}
#ainfo { grid-column: 5;grid-row: 5;color:red;}/* messages d'erreur */
#ajaune { grid-column: 1;grid-row: 5;color:yellow;} /* activation bouton jaune */

/*.   boutons de choix des modes.    */
#bj{grid-column: 1;grid-row: 6;} /* bouton jaune */
#bdeg{grid-column: 2;grid-row: 6;} /* bouton deg rad */ 
#bfix{grid-column: 3;grid-row: 6;} /* bouton fix sci */ 
#bdplus{ grid-column: 4;grid-row: 6;}
#bcstk{grid-column: 5;grid-row: 6;color: rgb(255,100,100); /*remplace la class*/} 

/*.  boutons des fonctions.  */
#bsin{grid-column: 2;grid-row: 7;}
#bcos{grid-column: 3;grid-row: 7;}
#btan{grid-column: 4;grid-row: 7;}
#bln{grid-column: 1;grid-row: 7;}
#bsqrt{grid-column: 5;grid-row: 7;}

#benter{grid-column: 4/6;grid-row: 8;}
#bswap{grid-column: 3;grid-row: 8;}
#blog{grid-column: 1;grid-row: 8;}
#bdup{grid-column: 2;grid-row: 8;}

#b7{grid-column: 1;grid-row: 9;}
#b8{grid-column: 2;grid-row: 9;}
#b9{grid-column: 3;grid-row: 9;}
#bplus{grid-column: 5;grid-row: 9;background: linear-gradient(to bottom, #66a3ff, #0047b3);color:white; }
#bsto{grid-column: 4;grid-row: 9;}
  
#bc{grid-column: 4;grid-row: 10;color: rgb(255,100,100); /*remplace la class*/}
#b4{grid-column: 1;grid-row: 10;}
#b5{grid-column: 2;grid-row: 10;}
#b6{grid-column: 3;grid-row: 10;}
#bminu{grid-column: 5;grid-row: 10;background: linear-gradient(to bottom, #66a3ff, #0047b3);color:white; /*remplace la valeur class*/}

#b1{grid-column: 1;grid-row: 11;}
#b2{grid-column: 2;grid-row: 11;}
#b3{grid-column: 3;grid-row: 11;}
#bmoins{grid-column: 4;grid-row: 11;)}
#bmul{grid-column: 5;grid-row: 11;background: linear-gradient(to bottom, #66a3ff, #0047b3); color:white;/*remplace la valeur class*/}

#b0{grid-column: 1;grid-row: 12;} 
/*compenser le top-margin ajout marge inferieure de 5pixels sur la ligne du bas*/
#bpoint{grid-column: 2;grid-row: 12;}
#be{grid-column: 3;grid-row: 12;}
#bpi{grid-column: 4;grid-row: 12;background: linear-gradient(to bottom,#ffffff, #999999);color: black;}
#bdiv{grid-column: 5;grid-row: 12;background: linear-gradient(to bottom, #66a3ff, #0047b3);color:white;}

#astk{grid-column: 1/6;grid-row: 13;background: transparent;color:white;font-style: italic;font-size: 2vh;vertical-align:middle;text-align: right; line-height: 4vh; padding-right: 20px;}/* line-height pour que vertical-align fonctionne */
